.container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 20px;
  padding-right: 40px;
  box-shadow: 4px 1px 1px 1px #ccc;
  border-radius: 5px;
  background-color: #fff;
  }
  
  .container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: greenyellow;
  }
  
  .error, .success {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .error {
    color: red;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
  }
  
  .success {
    color: green;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
  }
  